.outlet-ConsignmentCareDetail {
  padding-top: 130px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .consignment-care-detail {
    margin-top: 50px;
    width: 1100px;

    h1 {
      font-size: 30px;
      font-weight: 1000;
    }
  }
  .total-amount-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
    .blankDiv{
        width: 100px;
    }
    .TotalAmount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 400px;
      align-items: center;
      border-radius: 4px;
      border: 1.5px solid #000;
      padding: 20px;
      margin-top: 30px;

      h1 {
        font-size: 24px;
        font-weight: bold;
      }

      .modify-Checkout {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        padding-top: 10px;

        p {
          font-size: 16px;
          margin: 0;
        }
      }

      button {
        font-size: 16px;
        color: #fafafa;
        display: inline-flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: #000;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}
