.consignment-care-container1 {
 
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .ant-table-wrapper {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
  }
}

.ant-table {
 

  .ant-table-tbody > tr > td {
    padding: 12px;
  }

  
}

.ant-modal {
  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-modal-header {
    background-color: #f0f5ff;
    border-bottom: 1px solid #e8e8e8;
    h3 {
      font-size: 20px;
      color: #333;
    }
  }

  .ant-modal-footer {
    display: flex;
    justify-content: center;
  }

  .ant-btn {
    background-color: #1a73e8;
    color: white;

    &:hover {
      background-color: #155ab6;
    }
  }
}
